.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  top: 0;
  left: 0;
} 

button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: flex-end;
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button:hover {
  text-decoration-line: underline;
}

button:active {
  background-color: #545050;
}

button:focus{
  outline: none;
}

button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}
.more-button:focus-visible {
  margin: 2px;
  width: 395px;
}

.more-button {
  white-space: nowrap;
  height: 34px;
  width: 100%;
}

.content__card-link_current {
  background-color: #545050;

}

.content__card-link {
  display: block;
  padding: 2px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid white;
}

.content__card-link:hover {
  text-decoration: underline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1140px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: flex-end;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.result__video-container {
  height: 386px;
  min-width: 711px;
  position: relative;
}

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card {
  display: flex;
  align-content: flex-start;
}

.content__details{
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.content__list {
  height: 298px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 26px;
  position: relative;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cards-list-item-template {
  width: 100%;
}

.title {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
  width: fit-content;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration-line: none;
  color: #FFF;
}

.content__video-card-title {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
  text-transform: uppercase;
  height: fit-content
}

.content__video-card-description {
  line-height: 16.2px;
  height: 100%;
}


fieldset {
  border: none;
}

.search-form__fieldset {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.search-form__label {
  color: #FFF;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 225px;
  height: 27px;
  appearance: none;
  background-color: #1b1919;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
}

label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

label:focus {
  outline: none;
}

input:focus {
  outline: none;
}

label:has(:active) {
  outline: none;
}

.search-form__textfield:active {
  border: none;
  outline: 1px solid white;
}

.search-form__label-text {
  cursor: pointer;
}

.search-form__label:has(.search-form__pseudo-checkbox) {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  height: 19px;  
  width: fit-content;
}
.search-form__pseudo-checkbox {
  border: 1px solid #FFF;
  width: 19px;
  height: 19px;
  cursor: pointer;
  
}

.search-form__checkbox-list{
  display: flex;
  gap: 15px;
  height: 100%;
  align-items: center;
}

.search-form__label:hover .search-form__label-text {
  text-decoration-line: underline;
}

.search-form__pseudo-checkbox:before {
  content: "";
  width:  15px;
  height: 15px;
  margin: 1px;
  display: inline-block;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox:before {
  background-color: #FFF;
}

.search-form__pseudo-checkbox:active:before {
  background-color: #FFF;
}